In [429]:
import numpy as np
import pandas as pd

In [430]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [431]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [432]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [433]:
# Merging the dataframes
movies = movies.merge(credits, on = "title")

In [434]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [435]:
# Columns that are imp for analysis
# genres
# id
# keywords
# overview
# title
# cast
# crew
# other columns like release_date, popularity can be indicators but are numeric and not used in this project

In [436]:
rating = movies[['id', 'vote_average']]

In [437]:

movies = movies[['genres','id', 'keywords', 'overview', 'title', 'cast', 'crew']]

In [438]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [439]:
movies.isnull().sum()

genres      0
id          0
keywords    0
overview    3
title       0
cast        0
crew        0
dtype: int64

In [440]:
movies.dropna(inplace = True)

In [441]:
# checking duplicated data
movies.duplicated().sum()

0

In [442]:
# Checking formats of genre column
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [443]:
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [444]:
 movies['genres'] = movies['genres'].apply(convert)

In [445]:
movies['keywords'] = movies['keywords'].apply(convert)

In [446]:
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count != 3:
            L.append(i['name'])
            count+=1
        else:
            break
    return L

In [447]:
movies['cast'] = movies['cast'].apply(convert3)

In [448]:
def crew(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director' :
            L.append(i['name'])
            break
    return L

In [449]:
movies['crew'] = movies['crew'].apply(crew)

In [450]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [451]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [452]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

In [453]:
movies['tags'] = movies['overview'] +movies['genres'] + movies['keywords']+ movies['cast']+ movies['crew']

In [454]:
movies.head(2)

,genres,id,keywords,overview,title,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [455]:
new_df = movies[['id', 'title', 'tags']]
# converting list to strings
new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))
new_df.head(2)

C:\Users\Mahek\AppData\Local\Temp\ipykernel_33892\3813016767.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [456]:
!pip install nltk

Requirement already satisfied: nltk in c:\python31010\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\python31010\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\python31010\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\python31010\lib\site-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in c:\python31010\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\python31010\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [457]:
import nltk

In [458]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [459]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ". join(y)

In [460]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Mahek\AppData\Local\Temp\ipykernel_33892\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [461]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [462]:
# converting the whole para to lowercase
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\Mahek\AppData\Local\Temp\ipykernel_33892\2235241851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [463]:
new_df.head(2)

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."

In [464]:
# now we will do text vectorisation through bag of words method

In [465]:
# from sklearn.feature_extraction.text import CountVectorizer
# cv = CountVectorizer(max_features = 5000, stop_words = 'english')
from sklearn.feature_extraction.text import TfidfVectorizer
# Use TfidfVectorizer for vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=5000, stop_words='english')

In [466]:
# vectors = cv.fit_transform(new_df['tags']).toarray()
# Fit and transform the 'tags' column
vectors = tfidf_vectorizer.fit_transform(new_df['tags']).toarray()

In [467]:
vectors[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [468]:
# now all movies are converted into vectors. we will calculate the distance btw them. If dis less than more similar
# now we dont calculate euclidean distance as that fails in higher dimension
# will use cosine distance which means angle difference

In [469]:
from sklearn.metrics.pairwise import cosine_similarity

In [470]:
similarity = cosine_similarity(vectors)

In [471]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [472]:
recommend("Avatar")

Aliens
Falcon Rising
Battle: Los Angeles
Aliens vs Predator: Requiem
Apollo 18